.manu-bar
{

width: 100%;

height: 60px;
background-color: green;
border-radius: 30px;
background-attachment: fixed;
}

.manu-bar:hover
{
 background: linear-gradient(yellow,pink,red);

}

.manu-bar a
{

text-decoration: none;
color: white;

font-style: italic;

font-family: sans-serif;
float: left;
margin-top: 20px;
margin-left:50px;
}

.manu-bar a:hover
{
	color: red;
   background-color: blue;




}
.manu-bar img 
{

  float: right;
  width: 40px;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}








.header
{
width: 100%;
height: 500px;
background-color: Red;
float: left;
background-image: url(img.9.jpg);
background-repeat: no-repeat;
background-size: cover;

}

.img
{
margin-left: 600px;
margin-top: 150px;


}



.header h1
{
 text-align: center;
margin-top: 60px;
color: white;


}




 
.text
{

background-color: yellow;
background: linear-gradient(pink,yellow,green);
width: 20%;




}

.text:hover
{
	background-color: yellow;
   background: linear-gradient(pink,red,gray);



}





.footer
{
width: 100%;
height: 60px;
background-color: black;
border: 3px solid Blue;
border-radius: 15px;
margin-left: 0px;

}
.footer:hover
{
 background-color: gray;
background: linear-gradient(yellow,red,green);

}

.footer a
{
float: left;
text-decoration: none;
color: white;
margin-top: 20px;

margin-left: 100px;


}

.footer a:hover
{
 color: blue;
background-color: red;

}



@media only screen and (max-width: 700px)
{
.manu-bar a 
{
  margin-left: 20px;


}

.manu-bar img 
{
  display: block;
}

.text
{
width: 50%;

}
.immg
{
width: 90%;
height: 300px;


}
.form2
{

  width: 400px;
  margin-left: 3%;
}

.footer
{

  width: 100%;
  margin-left: 0%;
  padding: opx;
}

.footer a
{
 margin-left: 50px;

}













}